@charset "UTF-8";

#cover {
  background-image: url("images/cover-image.jpg");
  background-size: cover;
  height: 100vh;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 0 50px;

}

#logo {
  border-radius: 7px;
}

ul {
  display: flex;
  margin-top: 28px;

}

.item {
  width: 200px;
  text-align: center;
  list-style: none;
  margin-right: 30px;
  font-size: 30px;
  padding: 20px 20px;
  border-radius: 7px;
  background-color: #ffffff;
}

/* .item:nth-child(3) {
  margin-right: ;
} */
