@charset "UTF-8";

#cover {
  background-image: url("images/cover-image.jpg");
  background-size: cover;
  height: 100vh;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 0 50px;

}

#logo {
  border-radius: 7px;
}

ul {
  display: flex;
  margin-top: 28px;

}

.item {
  width: 200px;
  text-align: center;
  list-style: none;
  margin-right: 30px;
  font-size: 30px;
  padding: 20px 20px;
  border-radius: 7px;
  background-color: #ffffff;
}


.main-contents {
  width: 1000px;
  margin: 0 auto;
}

.main-header {
  text-align: center;
  font-size: 160px;
  color: #ffffff;
}

.main-header span {
  color: #000000;
}

.input {
  width: 1000px;
  height: 90px;
  background-color: white;
  border-radius: 5px;
}

.input::placeholder {
  text-align: center;
  font-size: 23px;
}

form p {
  padding: 20px 70px;
  width: 1000px;
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
}

.select {
  width: 780px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 5px;
  padding-left: 30%;
}

.search {
  width: 200px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 20px;
  background-color: blanchedalmond;

}
